.warehouse-product-wrapper {
  margin: 10px 0 10px 20px;
}
.warehouse-product {
  padding: 10px 30px;
  &-title {
    font-size: 15px;
    margin: 0;
  }
  &-actions {
    display: flex;
    align-items: center;
    height: 65px;
  }
  &-action {
    margin-right: 10px;
  }
}
