.warehouse-product-wrapper {
  margin: 10px 0 10px 20px;
}
.warehouse-product {
  padding: 10px 0 0;
  &-title {
    font-size: 15px;
    margin: 0;
    padding-top: 0;
  }
  &-content {
    display: flex;
    justify-content: space-between;
  }
  &-action {
    margin-right: 10px;
    display: flex;
    align-items: center;
    h4 {
      margin: 0 5px;
    }
  }
}
.warehouse-product-simple {
  .warehouse-sort-btn, .warehouse-sort-actions {
    display: none;
  }
}
