<div class="warehouse-product-wrapper">
    <md-card class="warehouse-product">
        <md-card-title class="warehouse-product-title">
            <warehouse-editable [model]="product.title" (update)="updateTitle($event)"></warehouse-editable>
            <strong *ngIf="product.children">({{product.children.length}})</strong>
            <p>
                <strong>weight: </strong>
                <span [hidden]="!hasRelatedProducts()">{{getProductWeight()}}</span>
                <warehouse-editable *ngIf="!product.children" [model]="product.weight" (update)="updateWeight($event)" input-type="number">
                </warehouse-editable>
            </p>

        </md-card-title>
        <md-card-actions class="warehouse-product-actions" layout="row" layout-align="end center">
            <div class="warehouse-product-action">
                <md-slide-toggle (change)="toggle()" *ngIf="product.children">{{expanded ? 'Hide' : 'Show'}} related products</md-slide-toggle>
            </div>
            <div class="warehouse-product-action">
                <button md-mini-fab (click)="dialog.show()">
                    <md-icon class="md-24">add</md-icon>
                </button>
            </div>
        </md-card-actions>
    </md-card>
    <div class="warehouse-related-products" *ngIf="product.children" [hidden]="!expanded">
        <warehouse-product *ngFor="let item of product.children" [product]="item"></warehouse-product>
    </div>
    <md-dialog #dialog (onClose)="addProduct($event)">
        <input type="text" #titleEl />
        <input type="number" #weightEl />
        <md-dialog-actions>
            <button md-raised-button (click)="dialog.close({title: titleEl.value, weight: weightEl.value})">Add a product</button>
            <button md-raised-button (click)="dialog.close(false)"> Cancel</button>
        </md-dialog-actions>
    </md-dialog>
</div>