<div class="warehouse-product-wrapper">
    <md-card class="warehouse-product">
        <md-card-title class="warehouse-product-title">
            <warehouse-editable [model]="product.title" (update)="product.setTitle($event)"></warehouse-editable>
            <strong *ngIf="product.children">({{product.children.length}})</strong>
        </md-card-title>
        <md-card-content class="warehouse-product-content">
            <p>
                <span>weight: </span>
                <span [hidden]="!product.hasRelatedProducts()">{{product.calculateWeight()}}</span>
                <warehouse-editable
                        *ngIf="!product.children"
                        [model]="product.weight"
                        (update)="product.setWeight($event)"
                        input-type="number">
                </warehouse-editable>
            </p>
            <div class="warehouse-product-actions" layout="row" layout-align="end center">
                <div class="warehouse-product-action">
                    <md-slide-toggle class="md-primary" (change)="toggle()" *ngIf="product.children"></md-slide-toggle>
                </div>
                <div class="warehouse-product-action">
                    <button md-fab class="md-icon-button md-primary" (click)="dialog.show()" aria-label="Add a product">
                        <i md-icon>add</i>
                    </button>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <div class="warehouse-related-products" *ngIf="product.children" [hidden]="!expanded">
        <warehouse-product *ngFor="let item of product.children" [product]="item"></warehouse-product>
    </div>
    <md-dialog #dialog (onClose)="addProduct($event)">
        <input type="text" #titleEl id="title" placeholder="Title" />
        <input type="number" #weightEl id="weight" placeholder="Weight" />
        <md-dialog-actions>
            <button md-raised-button (click)="dialog.close({title: titleEl.value, weight: weightEl.value})">Add a product</button>
            <button md-raised-button (click)="dialog.close(false)"> Cancel</button>
        </md-dialog-actions>
    </md-dialog>
</div>