@import 'components/product/product';
@import '~ng2-material/all.scss';
@import '~@angular2-material/core/style/core';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background: #A9D6D2;
  color: #074C46;
  overflow: hidden;
}
warehouse-app {
  padding: 32px;
  height: calc(100% - 64px);
  overflow: auto;
  display: block;
}
.warehouse-left-spacer {
  margin-left: 5px;
}
.warehouse-right-spacer {
  margin-right: 5px;
}
.warehouse-sort-btn {
  cursor: pointer;
  height: 5px;
  width: 5px;
}
