@import 'components/product/product';
@import '~ng2-material/all.scss';

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  background: #A9D6D2;
  color: #074C46;
  overflow: hidden;
}
warehouse-app {
  padding: 32px;
  height: calc(100% - 64px);
  overflow: auto;
  display: block;
}
